.carChooserTab {
  @apply my-[20px] bg-white;
  box-shadow: 0px 0px 7px 6px rgba(198, 198, 198, 0.15);

  .carChooserTabList {
    @apply flex overflow-x-auto border-b-[3px] border-b-primary sm:flex-col md:flex-row;

    .tabItem {
      @apply flex cursor-pointer items-center gap-[12px] px-[30px] py-[15px] text-grayText transition-colors duration-200 hover:bg-gray-50 sm:justify-between md:justify-start;

      &.active {
        @apply bg-primary text-white;
      }
    }
  }

  .carChooserTabContent {
    @apply grid h-[360px] items-start justify-start overflow-y-auto;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: repeat(6, 60px);

    .tabContentItem {
      @apply flex h-[60px] flex-1 items-center justify-center border-b border-r border-b-border border-r-border transition-colors duration-200 hover:bg-gray-50 active:opacity-70;
    }
  }
}
